.standard-icon-sprite {
    display: inline-block;
    height: 25px;
    width: 72px;
    vertical-align: middle;
}

.standard-1 {
    background: url("../img/standards/standards.webp") -72px -0px;
}

.standard-2 {
    background: url("../img/standards/standards.webp") -144px -0px;
}

.standard-3 {
    background: url("../img/standards/standards.webp") -72px -25px;
}

.standard-4 {
    background: url("../img/standards/standards.webp") -0px -0px;
}

.standard-5 {
    background: url("../img/standards/standards.webp") -0px -25px;
}

.standard-6 {
    background: url("../img/standards/standards.webp") -144px -25px;
}
